---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.svelte';
import Main from '../components/main.svelte';
---

<Layout title="Erik.">
	<div class=" w-full max-w-[1500px]">
		<Header />
		<Main />
	</div>
</Layout>
