---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.svelte';
---

<Layout title="Erik.">
	<div class=" max-w-[1500px]">
		<Header />
		<main>

		</main>
	</div>
</Layout>
