@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.cdnfonts.com/css/minecraft-3');

html {
    font-family: 'Minecraft', sans-serif;
}

.font {
    font-family: 'Minecraft', sans-serif !important;
}

pre:has(code) {
  position: relative;
}

pre button.copy {
  position: absolute;
  right: 10px;
  top: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  padding: 6px;

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-image: url(/src/lib/assets/copy.svg);
  }

  & .success {
    display: none;
    background-image: url(/src/lib/assets/copy.svg);
  }

  &.copied {
    & .success {
      display: block;
    }

    & .ready {
      display: none;
    }
  }
}

pre button.copy:hover {
    background-color: rgba(0, 0, 0, 0.3);
}